body {
  font-family: 'Inter', sans-serif;
}


*{
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}
body{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card-1 {
  width: 350px;
}

.artem-textbubble {
  border: 2px solid black; 
  border-radius: 15px;
  position: relative;
  padding: 20px;
  color: white;
  background-color: black;
  width: 100%;
  
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  position: absolute;
  bottom: -20px; /* shift it outside the box */
  left: 20px;    /* position it where you want under the bubble */
}

.author-section{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
    gap: 20px;
  padding-left: 10px;
  margin-top: 2rem
}

.artem-photo {
  height: 60px;
  width: 60px; 
  border-radius: 50%;
  background-image: url('tough-fish-3.png');
  background-size: cover;
  background-position: center;
  
}

.artem-photo-1{
    height: 60px;
  width: 60px; 
  border-radius: 50%;
  background-image: url('tough-fish-2.png');
  background-size: cover;
  background-position: center;
  
}

#card-row-1{
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 0 6rem;;
}

.artem-box {
  border: 2px solid black;
  width: 350px;
  border-radius: 15px;
  padding: 20px;
}

.artem-box .author-section {
  padding-left: 0;
}

#row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 40px;
    
}

.photo-2 {
    height: 250px;
    width: 250px;
    border-radius: 18px;
      background-image: url('critic.jpeg');
  background-size: cover;
  background-position: center;
}

.row-2-review-box {
    border: 2px solid black;
    height: 250px;
    width: 450px;
    border-radius: 18px;
    padding: 20px;
    background-color: black;
    color: white;
    
}

.row-2-review-box * {
    margin-bottom: 10px;
}

.row-2-review-box h3{
    color: grey;
}
.stars {
    font-size: 2rem;
}

#row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 70%;
}
.row-3-container {
border: 2px solid black;
border-radius: 18px;
height: 400px;
width: 78%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1.3rem;
gap: 3rem;
}

.image-slider {
    display: flex;
    width: 300px;
    justify-content: space-around;
}


.image-1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
      background-image: url('lady-fish.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 70%;
} 

.image-2{
     height: 65px;
    width: 65px;
    border-radius: 50%;
      background-image: url('tough-guy.jpeg');
  background-size: cover;
  background-position: center;
} 

.row-3-container p{
    width: 580px;
    text-align: center;
}

.row-3-container h2{
    font-size: 1.3rem;
}

.image-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
      background-image: url('sb-headshot.jpg');
  background-size: cover;
  background-position: center;
  opacity: 70%;
}